<!-- Banner Carrusel -->

<div>
<div id="carouselExampleSlidesOnly" class="carousel slide bg-dark" data-bs-ride="carousel">
   <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/BannerFSDev-wide.jpg" class="d-block w-100" alt="..."> 
      </div>
        <div class="fotoperfil w-50"> 
          <app-foto-perfil></app-foto-perfil>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/BannerFSDev-wide.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/BannerFSDev-wide.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>


<!-- Fin Banner Carrusel -->
