<!-- Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#" > <img src="../../assets/img/Logo.png" height="34"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#SobreMi">Sobre Mi</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#Formacion">Formación</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Portfolio
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Somos Happening</a></li>
              <li><a class="dropdown-item" href="#">RG</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">LC Productora</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
         
        </ul>
<!-- Logos Redes -->
        <a href="https://www.linkedin.com/in/ludmilacavalieri/"> <img src="https://img.icons8.com/color/48/000000/linkedin.png" height="34"/></a>
        <a href="https://www.instagram.com/ludmila.cavalieri/"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" height="34"/></a>
        <a href="https://www.youtube.com/user/ludcvlr"> <img src="https://img.icons8.com/color/48/000000/youtube-play.png" height="34"/></a>
        <img src="https://img.icons8.com/color/48/000000/facebook.png" href="#" height="34"/>
        
<!-- Fin Logos Redes -->

<!-- Boton LOGIN -->
<form class="ml-4 d-flex">
          <button type="submit" class="btn btn-outline-light" (click)="login()"><img src="../../assets/img/LoginB.png" height="20"/>  Login</button>
        </form>

<!-- FIN Boton LOGIN -->


      </div>
    </div>
  </nav>

<!-- FIN Navbar -->
